<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="bcrumbs">
                <div class="row">
                    <div class="col-md-12">
                        <ul style="float: right">
                            <li><a href="/change-password"> تغییر کلمه عبور</a></li>
                            <li><a href="/account">حساب کاربری</a></li>
                            <li><a href="/home">صفحه اصلی</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 checkout-steps">
                <div>
                    <ul class="account-list">
                        <li><a href="/account"> <i class="fa fa-edit"></i> اطلاعات حساب کاربری</a></li>
                        <li><a href="/account/change-password"> <i class="fa fa-edit"></i> تغییر کلمه عبور</a></li>
                        <li><a href="/account/address-book"> <i class="fa fa-edit"></i> نشانی های من</a></li>
                        <li><a href="/user/orders"> <i class="fa fa-edit"></i> سفارشات من</a></li>
                        <li><a href="/user/message"> <i class="fa fa-edit"></i> پیام ها</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 col-sm-8">
                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-key fa-lg" aria-hidden="true"></i>&nbsp;
                                تغییر کلمه عبور
                            </div>
                            <div class="panel-body">
                                <form name="chgPass">
                                    <ul class="form-list row">
                                        <li class="col-md-6 col-sm-6 col-md-offset-2">
                                            <label>کلمه عبور قبلی</label>
                                            <input required type="password" ng-model="vm.changePassword.oldPass"
                                                   class="input-text">
                                        </li>
                                        <li class="col-md-6 col-sm-6 col-md-offset-2">
                                            <label>کلمه عبور جدید</label>
                                            <input required type="password" ng-model="vm.changePassword.newPass"
                                                   class="input-text">
                                        </li>
                                        <li class="col-md-6 col-sm-6 col-md-offset-2">
                                            <label>تکرار کلمه عبور</label>
                                            <input required type="password" ng-model="vm.changePassword.rePass"
                                                   class="input-text">
                                        </li>
                                        <li class="col-md-6 col-sm-6 col-md-offset-2">
                                            <label></label>
                                            <button class="btn-color btn btn-secondary btn-lg"
                                                    style="font-size: 16px;font-weight: bold"
                                                    type="button" ng-click="vm.changePass()">ویرایش
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>

