<div class="account-form">
    <span>ایجاد حساب کاربری</span>
    <hr>
    <form id="shipping-zip-form" name="form">
        <ul class="form-list row">
            <li class="col-md-12 col-sm-12" class="form-group" show-errors='{showSuccess: true}'>
                <label>کلمه عبور <em>*</em></label>
                <input required type="text" ng-model="vm.registration.password" ng-required="true" class="input-text" style="direction: ltr"
                       placeholder="ایمیل / شماره همراه ">
            </li>
            <li class="col-md-12 col-sm-12" class="form-group" show-errors='{showSuccess: true}'>
                <label>کلمه عبور<em>*</em></label>
                <input required type="text" ng-model="vm.rePassword" ng-required="true" class="input-text" style="direction: ltr"
                       placeholder="ایمیل / شماره همراه ">
                <span ng-show="vm.registration.password != vm.rePassword">تکرار کلمه عبور اشتباه می باشد</span>
            </li>
        </ul>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-lg btn-block" ng-click="vm.createAccount()" type="button">
                <span><span>ایجاد حساب کاربری</span></span></button>
        </div>
    </form>
</div>

